.imagenError {
 
    width: 45%; 
    margin: 0 auto; 
    display: block; 
    margin-bottom: 20px; 
}

.textoError {
    text-align: center; 
    font-size: 45px;
    font-weight: bold;
}

.linkError {
    color: blue; 
    text-decoration: underline;
    font-weight: bold;
}