li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #004a9e; 
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.logo {
    border-radius: 50%;
    height: 100px; 
    padding: 5px;
    object-fit: cover;
}


body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;

}

footer {
    background-color: #0056b3;
    text-align: center;
    padding: 40px 0;
    color: white;
    bottom: 0;
    width: 100%;
}

.header-container {
    display: flex;
}

.home-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
    background-color: #f8f9fa;
}

.titulo {
    background-color: #0056b3;
    width: 80%;
    color: white;
    padding: 15px ;
    border-radius: 10px;
    font-size: 2rem;    
    border : none;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonVermas {

    background-color: #0056b3;
    width: 90%;
    color: white;
    padding: 15px ;
    border-radius: 10px;
    font-size: 1.5rem;    
    border : none;
    display: block; 
    margin: 0 auto;
    margin-bottom: 20px ;
    text-align: center;
    
}

.buttonVermasHome {

    background-color: #0056b3;
    width: 30%;
    color: white;
    padding: 15px ;
    border-radius: 10px;
    font-size: 1.5rem;    
    border : none;
    margin: 0 auto;
    text-align: center;
    
}

.form {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: 10px;
}

.input {

  width: 300px; 
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 25px; 
  font-size: 16px;
  outline: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.form button {
    padding: 13px;
    margin: 10px;
    width: auto;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }

  .esconder {
    display: none;
  }