.peliculas-pop-card {
    width: 23%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    overflow: hidden; 
    margin-bottom: 20px; 
}


.peliculas-pop-card img {
    width: 100%; 
    height: 100%; 
}

.peliculas-pop-card h1 {
    text-align: center;  
    font-size: 1.25rem; 
    color: #333; 
}

.peliculas-pop-card p {
    padding: 10px;
    font-size: 1rem; 
    color: #333; 
}

.verdesc {
    display: block; 
    text-align: center; 
    padding: 10px; 
    font-size: 1rem; 
    color: #333; 
    margin: 0 auto; 
    width: 70%; 
    border-radius: 7px; 
}
