.detalle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detalle-container h2 {
  color: #333;
  font-size: 2rem;
  font-weight: bold; /* Título en negrita */
  margin-bottom: 15px;
}

.detalle-container img {
  max-width: 400px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.detalle-container p {
  color: #555;
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.6;
}

.detalle-container p strong {
  color: #333;
}

.detalle-container .genres {
  color: #777;
  font-style: italic; /* Géneros en cursiva */
  font-family: 'Arial', sans-serif;
}

.detalle-container button {
  background-color: #007bff; /* Botón azul */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detalle-container button:hover {
  background-color: #0056b3; /* Azul más oscuro en hover */
}