.nav {
    display: flex;
    flex-direction: row;
    align-items: center; 
    
}

.nav li {
    padding: 10px;
}

.mainnav {

    display: flex;
    flex-direction: row;

}

.form {
        display: flex;
        align-items: center; 
    
}